@charset "UTF-8";
html, body {
  padding: 0px;
  margin: 0px;
  width: 1024px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  border: solid 1px black;
  border-radius: 10px 10px 10px 10px;
}

* {
  vertical-align: top;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

.top {
  letter-spacing: -0.31em;
  background-color: #4E4547;
  position: relative;
}
.top:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: #4E4547;
}
.top .topright, .top .topleft {
  display: inline-block;
  height: 210px;
  letter-spacing: normal;
}

.topleft {
  width: 30%;
}

.topright {
  width: 70%;
  text-align: center;
  position: relative;
}
.topright h1.name {
  color: white;
  margin: 0px;
}
.topright h1.job {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 193px;
  border: solid 2px white;
  background-color: #4E4547;
  overflow: hidden;
  z-index: 5;
  padding-right: 20px;
  padding-left: 20px;
}
.topright hr {
  position: absolute;
  background-color: white;
  color: white;
  border: none;
  height: 2px;
  width: 603px;
  left: 61px;
  bottom: 45.5px;
}

.bottom {
  height: 800px;
  letter-spacing: -0.31em;
}

.left, .right {
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: normal;
}

.left {
  width: 30%;
  height: 1010px;
  text-align: center;
  margin-top: -210px;
  margin-left: 20px;
  position: relative;
  background-color: #82C4A8;
}
.left .img {
  margin: 50px 0px;
}
.left .img > img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.leftmiddle1 {
  font-size: 18px;
  line-height: 0px;
  margin: 20px;
  color: #3b3436;
  border-bottom: solid 2px #3b3436;
}

.leftop {
  letter-spacing: -0.31em;
}
.leftop .lefttopleft, .leftop .lefttopright {
  display: inline-block;
  height: 210px;
  letter-spacing: normal;
}

.lefttopleft {
  text-align: left;
  width: 35%;
}
.lefttopleft p {
  font-weight: bold;
  color: #3b3436;
  padding-left: 5px;
  margin-left: 20px;
  border-bottom: solid 1px #3b3436;
}

.lefttopright {
  width: 65%;
  text-align: left;
}
.lefttopright p {
  border-bottom: solid 1px #3b3436;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.leftmiddle2 {
  font-size: 18px;
  line-height: 0px;
  margin: 20px;
  color: #3b3436;
  border-bottom: solid 2px #3b3436;
}

.lefmiddle {
  letter-spacing: -0.31em;
}
.lefmiddle .leftmiddleleft, .lefmiddle .leftmiddleright {
  display: inline-block;
  height: 175px;
  letter-spacing: normal;
}

.leftmiddleleft {
  text-align: left;
  width: 35%;
}
.leftmiddleleft p {
  font-weight: bold;
  color: #3b3436;
  padding-left: 5px;
  margin-left: 20px;
  border-bottom: solid 1px #3b3436;
}

.leftmiddleright {
  width: 65%;
  text-align: left;
}
.leftmiddleright p {
  border-bottom: solid 1px #3b3436;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.leftmiddle3 {
  font-size: 18px;
  line-height: 0px;
  margin-top: 0px;
  color: #3b3436;
  border-bottom: solid 2px #3b3436;
  margin-bottom: 0px;
}

.leftbottom {
  height: 100px;
  text-align: center;
  color: #3b3436;
}
.leftbottom .table .img {
  display: inline-block;
  width: 70px;
  margin: 10px 0px;
}
.leftbottom .table .img img {
  font-size: 40px;
  width: 50px;
  height: 50px;
}

.right {
  width: 68%;
  height: 800px;
}

.righttop, .rightmiddle, .rightbottom {
  margin-left: 20px;
  margin-right: 20px;
}
.righttop h2, .rightmiddle h2, .rightbottom h2 {
  color: #2f644e;
  margin-top: 20px;
  border-bottom: solid 3px #82C4A8;
}
.righttop p, .rightmiddle p, .rightbottom p {
  text-indent: 2em;
  font-size: 20px;
  letter-spacing: 1px;
}

.rightmiddle {
  height: 200px;
  letter-spacing: -0.31em;
}
.rightmiddle .rightmiddleleft, .rightmiddle .rightmiddleright {
  display: inline-block;
  letter-spacing: normal;
}

.rightmiddleright {
  width: 41%;
  margin-left: 5px;
}

.year, .point, .data {
  display: inline-block;
}

.year {
  position: relative;
  width: 54px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #4E4547;
  margin-right: 20px;
}
.year:after {
  content: "";
  position: absolute;
  right: -11px;
  width: 0px;
  top: -0.5px;
  height: 0px;
  border-style: solid;
  border-width: 12px 0px 12px 12px;
  border-color: transparent #4E4547 transparent #4E4547;
}

.data {
  width: 150px;
  height: 50px;
  border-left: solid 3px #E3C9CD;
}

.rightmiddleright p {
  position: absolute;
  top: -23px;
  margin-left: -20px;
  font-size: 15px;
  line-height: 20px;
  width: 180px;
}

.point {
  position: relative;
  margin-right: 15px;
  margin-left: -6px;
  width: 9px;
  height: 9px;
  line-height: 24px;
  vertical-align: middle;
  border-radius: 100%;
  background-color: #513842;
}

.rightmiddleleft {
  width: 58%;
  position: relative;
}

.circle {
  display: inline-block;
  width: 100px;
  margin: 0px 10px;
  height: 100px;
  border-radius: 100%;
  background-color: #4E4547;
  overflow: hidden;
  position: relative;
}

.circle_white {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #4E4547;
  background-color: white;
  font-size: 14px;
  text-align: center;
  line-height: 80px;
  letter-spacing: 1px;
  left: 10px;
  top: 10px;
}

.shadow {
  position: absolute;
  width: 80px;
  height: 80px;
  transform-origin: left bottom;
  left: 50px;
  bottom: 50px;
  background-color: #DBDBDB;
  /*   transform:rotate(90deg); */
}

.DB {
  transform: rotate(90deg);
}

.DB2 {
  transform: rotate(180deg);
}

.rightbottom .set1 {
  width: 93%;
  height: 80px;
  position: relative;
  margin: 30px 0px;
}

.icon {
  display: inline-block;
  border: solid 2px #4E4547;
  color: #4E4547;
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 5px;
}

.block {
  width: 400px;
  height: 35px;
  letter-spacing: -0.31em;
}

.block1, .block2, .block3, .block4 {
  display: inline-block;
  width: 25%;
  height: 35px;
  border: solid 1px black;
}

.block2, .block3, .block4 {
  border-left: none;
}

.block1, .block2, .block3 {
  border-right: 1px #4F4F4F dashed;
}

.block1 {
  border-radius: 10% 0% 0% 10%;
}

.block4 {
  border-radius: 0% 10% 10% 0%;
}

.level5, .level2, .level3, .level4 {
  margin-left: 68px;
}

.set1 .block1, .set1 .block2, .set1 .block3, .set1 .block4 {
  background-color: #4E4547;
}

.set2 .block1 {
  background-color: #4E4547;
}
.set2 .block2, .set2 .block3, .set2 .block4 {
  background-color: #ccc6c7;
}

.bottombar {
  border-radius: 0px 0px 10px 10px;
  height: 30px;
  background-color: #4E4547;
}
